<h1>StaticPages#about</h1>
<h3>I design for web from a small village in old blighty. So I spend my time creating simpler, elegant user interfaces for a varienty of platforms.And if you happen to be looking for a freelance interface designer, I also happen to be looking for some awesome clients with some awesome projects.</h3>
<p>Find me in app/views/static_pages/about.html.erb</p>
